<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Computer Hardware App</title>
        <link rel="stylesheet" type = "text/css" href="/css/media.css">
    </head>
    <body>
   
      <div id="sign-up">
    
        <a href="/users/register" style="float: left; margin-left: 10px;"  title="sign">Sign Up</a>
        <a href="/users/login" style="float: left; margin-left: 60px;" title="login">Login in</a>
          
      </div>
      
        <main id= "top-title"> 
            <div id= "main-title"> 
            <h1>Computer Hardware App</h1>
        </div>

        <div id="menu">
            <ul class="menu-item">
                <a href="/article" style="float: left" title="News" >Technology News</a>
                <a href="/search" style="float: left" title="Hardware" >Components Search</a>
                <a href="/users/chat" style="float: left" title="momnet" >Chat Room</a>
                <a href="https://platinum-loving-cardamom.glitch.me/about/home.html" style="float: left" title="about" >About Us</a>
             </ul>
        </div>
        <div class="search">
            <form action="/" method="post">
            <input type= "text" name = "search" class= "form-control" placeholder="Please the keyword to search" required>
           <button type="submit" class="btn btn-primary"  value="search"> search</button>
        </form>
        </div> 
    </main>
    <main id= "media"> 
        <div class= "container">
                <hr> 
                <div class="wrapper">
                    <div class="news">
                        <% if(articles != null) { %>
                            <% articles.forEach(function(article, index) { %>
                            <div class="image">
                                <img src="<%- article.urlToImage %>" alt="<%- article.title %>">
                            </div>
                            <div class="content">
                                <h2 class="title"><%- article.title %></h2>
                            </div>
                            <div class=" description">
                                    <p><%- article.description %></p>
                                </div>
                            <a href="<%- article.url %>" class="news__card" target="_black">
                            -->read more
                                <hr>
                            </a>
                        <% }) %>
                    
                        <% } else { %>
                            No posts found.
                        <% } %>
                    </div>
                </div>
            </div>

        </main>


    </body>
</html>